@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "Inter";
    src: url('/font/Inter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --background-color: #242424;
    --text-color: #f4f4f4;
    --accent-color: #5039bb;
}

@layer base {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        color: var(--accent);
        text-decoration: none;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; width: 100%;
}